@import '../../../../assets/scss/variables';

.main-heading {
    padding: 1em;
}

.line-items-container {
    display: flex;
    flex-wrap: wrap;
}

.line-item {
    display: flex;
    flex-direction: row;
    width: 100%;

    @include bp(md) {
        width: 50%;
        max-width: calc(50% - 2em);
        flex-grow: 1;
    }

    .image {
        flex: 1;
    }

    .details {
        flex: 3;
        padding: 1em;
        display: flex;
        flex-direction: column;

        @include bp(lg) { flex-direction: row; }

        & > div { align-self: center; }

        .item-name { font-weight: bold; padding-bottom: 0.5em; }

        .inner-details {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            & > div { flex: 1; }

            .item-price { padding-bottom: 0.5em; }
        }

        .buttons {
            padding-top: 0.5em;
        }
    }
    
}
