<div>
    <img src='assets/product-img/{{ product.imageName }}' />
</div>


<ng-container *ngIf='!loadedProduct'>
    <div>Loading Item Details...</div>
</ng-container>

<ng-container *ngIf='loadedProduct'>
    <h2>{{ product.name }}</h2>
    <div>
        {{ product.description }}
        <hr />
        {{ product.about }}
        <span>Item Number: {{ product.id }}</span>
    </div>
    
    <div>
        Price: {{ product.price }}
        <br />
        <input type='number' [(ngModel)]='quantityToCart' />
        <button *ngIf='product.QOH > 0' (click)='addToCart()' type='button'>Add To Cart</button>
        <div *ngIf='product.QOH === 0'>Out Of Stock!</div>
    </div>
</ng-container>
