<div class='wrapper'>

    <div class='categories-container'>
        <h2>Categories</h2>
        <div *ngIf='!categoriesLoaded' class='category'>Loading...</div>
        <a (click)='showAllCategories()' *ngIf='categoriesLoaded' class='category'>
            All Products
        </a>
        <ng-container *ngFor='let category of categories'>
            <a (click)='showCategory(category)'
               class='category'
               [class.active-category]='false'>
                {{ category.name }}
            </a>
        </ng-container>
    </div>
    
    <div class='products-container'>
        <div *ngIf='!productsLoaded'>Loading Products...</div>
        <div *ngFor='let product of products' (click)='navigateToDetails(product)' class='styled-section product'>
            <div class='image' [style.background-image]="'url(assets/product-img/' + getImgName(product) + ')'"></div>
            <div class='about'>
                <div class='name'>{{ product.name }}</div>
                <div class='description'>{{ product.description }}</div>
            </div>
            <div class='price'>{{ product.price | currency }}</div>
        </div>
    </div>

</div>
