@import '../../../../assets/scss/variables';

.wrapper {
    display: flex;
    flex-direction: column;
    

    @include bp(sm) {
        flex-direction: row;
    }

    .categories-container {
        background-color: $lighter-grey;
        text-align: center;

        @include bp(sm) {
            flex: 1;
        }

        .category {
            padding: 0.5em;
        }

        .category:hover {
            background-color: $md-grey;
            color: white;
        }
    }

    .products-container {
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;

        @include bp(sm) {
            flex: 4;
        }

        .product {
            flex-grow: 1;
            max-width: calc(25% - 2em);
            width: 25%;
            margin: 1em;
            border: 1px solid $light-grey;
            text-align: center;

            .image {
                width: 100%;
                height: 10em;
                background-size: cover;
                background-position: center;
            }

            .about {
                padding: 0.5em;

                .name {
                    font-size: 1.25em;
                    font-weight: 700;
                }
    
                .description {
                    font-style: italic;
                }
            }
            
        }
    }
}
