@import '../../../../assets/scss/variables';

.wrapper {
    display: flex;
    flex-direction: column;
    

    @include bp(md) {
        flex-direction: row;
    }

    .categories-container {
        background-color: $lighter-grey;
        text-align: center;
        flex: 1;
        padding: 0.5em;
        padding-bottom: 1em;

        .category {
            border-radius: 5px;
            padding: 0.5em;
            margin: 0.5em 0;
            display: block;
            cursor: pointer;
        }

        .category:hover, .active-category {
            background-color: $accent1;
            color: white;
        }
    }

    .products-container {
        display: flex;
        flex-wrap: wrap;
        flex: 3;

        @include bp(lg) { flex: 4; }

        .product {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            cursor: pointer;
            width: 100%;

            @include bp(sm) {
                width: 50%;
                max-width: calc(50% - 2em);
            }

            @include bp(lg) {
                width: 25%;
                max-width: calc(25% - 2em);
            }

            .image {
                height: 10em;
            }

            .about {
                padding: 0.5em;
                flex-grow: 1;

                .name {
                    font-size: 1.25em;
                    font-weight: 700;
                }
    
                .description {
                    padding-top: 0.25em;
                    font-family: 'Merriweather';
                }
            }

            .price {
                background-color: #00cc66;
                padding: 0.5em;
                color: white;
            }
            
        }
    }
}
