<div class='site-container'>
    <div class='navbar-container'>
        <div class='graphic'><img src='assets/img/audi_r8.png' /></div>
        <div class='title'>Holman Auto Sales</div>
        <nav>
            <a routerLink='/inventory'><i class="fas fa-clipboard-list"></i>View Inventory</a>
            <a routerLink='/checkout'><i class="fas fa-shopping-cart"></i>Shopping Cart ({{ getNumCartItems() }})</a>
            <a routerLink='/settings'><i class="fas fa-cog"></i>Store Settings</a>
        </nav>
    </div>

    <div class='content-container'>
        <router-outlet></router-outlet>
    </div>

    <div class='footer-container'>
        <div>
            <h2>Designed by Ethan Holman, 2018</h2>
            <nav>
                <a routerLink='/'>About</a>
                <a routerLink='/'>Contact</a>
                <a routerLink='/'>Privacy Policy</a>
            </nav>
        </div>
    </div>
</div>