@import '../assets/scss/variables';

.site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.navbar-container {
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;

    @include bp(sm) {
        flex-direction: row;
    }

    div { flex: 1; }

    nav a, div { padding: 1em; }
    nav a {
        display: inline-block;

        &:hover {
            background-color: #a0a0a0;
            color: white;
        }
    }

}

.content-container {
    flex: 1;
}

.footer-container {
    background-color: $light-grey;
    div {
        padding: 1em;
    }
}